html,
body,
#app,
#app > div {
  min-height: 100vh;
  width: 100%;
}

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  margin: 0;
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: lightcyan;
}

#nav .navbar {
  width: 100%;
  font-family: Optima, sans-serif;
  background-color: gray;
}

#nav .navbar-brand {
  color: darkgray;
}

#nav a.navbar-brand:hover {
  color: darkgray;
}

#nav .nav-link {
  color: lightgray;
}

#nav a.nav-link:hover {
  color: lightgray;
}

button.navbar-toggler:focus {
  outline: none;
}

#nav .active {
  color: dimgray;
}

.footer {
  position: fixed;
  font-family: Optima, Calibri, sans-serif;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
  background-color: lightgray;
}

.footer a {
  color: gray;
}

.footer a:hover {
  color: white;
}

.footer a:visited {
  color: gray;
}

.mainview {
  margin: 2px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: blue;
  background-color: lightcyan;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.home {
  margin: 30px;
}

.profile {
  margin: 20px 25px;
}

.profilelist {
  padding: 15px 30px;
  background-color: lightslategray;
  color: white;
  border: solid 1px black;
  border-radius: 5px;
}

.camview {
  height: 100%;
}

.camrow {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.camlist {
  flex: 0 0 20em;
  border: 1px solid blue;
  margin: 0;
  padding-top: 5px;
}

.activecam {
  flex: 1 0 42em;
  border: 1px solid blue;
  margin: 0;
  padding-top: 5px;
}

.camlist ul,
.camlist li {
  list-style: none;
  list-style-position: none;
  margin: 0;
  padding: 0;
}

.camlist li {
  background-color: lightslategray;
  color: white;
  padding: 2px 5px;
  margin: 2px 0;
  border-radius: 5px;
}

.dropdown .active {
  background-color: blue;
}

.motiondetectionactive {
  background-color: red;
}

.buttongroup {
  margin: 2px 0;
}

.buttongroup .btn:nth-child(2) {
  margin-left: 2px;
  margin-right: 2px;
}

video {
  max-height: auto;
  max-width: 100%;
}
