html,
body,
#app,
#app > div {
  min-height: 100vh;
  width: 100%;
}

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  margin: 0;
  padding-bottom: 40px;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: turquoise;
}

#nav .navbar {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: gray;
}

#nav .navbar-brand {
  color: darkgray;
}

#nav a.navbar-brand:hover {
  color: darkgray;
}

#nav .nav-link {
  color: lightgray;
}

#nav a.nav-link:hover {
  color: lightgray;
}

button.navbar-toggler:focus {
  outline: none;
}

#nav .active {
  color: green;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
  background-color: lightgray;
}

.footer a {
  color: gray;
}

.footer a:hover {
  color: white;
}

.footer a:visited {
  color: gray;
}

.profile {
  background-color: teal;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.dropdown .active {
  background-color: blue;
}
